* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFF;
    font-family: 'Lato', Arial, Helvetica, sans-serif!important;
}
.mt-20 {
    margin-top: 20px!important;
}
/**** Header ****/
.header {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif!important;
    height: 110px;
    background-color: #323297;
    display: flex;
    justify-content: center;
}
.container-header {
    background-color: #323297;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1250px;
    height: 107px;
}
.logo {
    max-width: 300px;
}
.logo-header {
    width: 100%;
}
.menu {
    align-items: center;
}
nav, ul {
    display: flex;
    list-style: none;
}
.li-header a {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    margin: 0px 20px;
    transition: all ease 0.4s;
    display: inline-block;
}
.li-header a::after {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out
}
.li-header a:hover::after {
    transform: scaleX(1);
}
.menu-mobile {
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
}
.mm_line {
    border: 1px solid #FFF;
    width: 35px;
    margin: 9px 0px;
}
.menu-header-mobile {
    display: none;
}
/**** Section ****/
.section {
    height: auto;
    margin-top: 1.5px;
    display: flex;
    justify-content: center;
    background-color: #11114A;
    font-family: 'Montserrat', 'Lato', Arial, Helvetica, sans-serif;
}
.container-section {
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: auto;
    padding: 10px 0px 10px 0px;
}
.info-content {
    padding: 20px!important;
}
.h1-nome-info {
    font-size: 45px;
    font-weight: bold;
    color: #FFF;
}
.p-info-area {
    margin-top: 12px;
}
.p-info, .p-active {
    font-size: 20px;
    margin-top: 7px;
    color: #FFF;
    font-weight: 200;
    font-style: italic;
}
/**** Article ****/
.article {
    height: 400px;
    margin-top: 1.5px;
    background-image: linear-gradient(to bottom, #11114A, #323297);
}
.container-article {
    height: auto;
    padding: 10px 0px 10px 0px;
}
.sobre-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.h1-sobre-title {
    font-size: 45px;
    font-weight: bold;
    color: #FFF;
    margin-left: 10px;
}
.square {
    width: 30px;
    height: 30px;
    background-color: #019fb6;
    padding-top: 10px;
}
.sobre-content {
    margin-top: 10px;
    height: auto;
    padding: 20px!important;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.foto-area {
    width: 500px;
}
.img-sobre {
    width: 300px;
    justify-content: unset;
    border-radius: 200%;
   /*border: 2px solid #019fb6;*/
}
.p-sobre-info {
    font-size: 18.5px;
    max-width: 680px;
    margin-top: 7px;
    color: #FFF;
    font-weight: 200;
    font-style: italic;
}
.bolder {
    font-weight: 800!important;
}
/**** Responsivo ****/

@media only screen and (max-width:830px) {
    .ul-header {
        display: none;
    }
    .menu-mobile {
        cursor: pointer!important;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .nav-mobile, ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-mobile, a {
        color: #FFF;
        text-decoration: none;
    }
    .nav-mobile, .li-header-mobile {
        margin: 5px;
        padding: 10px 15px;
        align-items: center;
    }
    .menu-header-mobile {
        display: none;
        position: absolute;
        justify-content: center;
        background-color: #323297;
        top: 111px;
        width: 100%;
    }
    .li-header-mobile a {
        font-size: 19px;
        transition: all ease 0.4s;
        display: inline-block;
    }
    .li-header-mobile a:after {
        display:block;
        content: '';
        border-bottom: solid 3px #019fb6;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out
    }
    .li-header-mobile a:hover:after {
        transform: scaleX(1);
    }
}

@media only screen and (max-width: 375px) {
    .container-section {
        align-items: center;
    }
    .h1-nome-sobre {
        font-size: 35px;
    }
    .p-sobre, .p-active {
        font-size: 17px;
    }
}